fastapi==0.115.6
uvicorn==0.32.1
pydantic==2.10.4
transformers==4.45.1
python-multipart==0.0.20
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.3.0
python-dotenv==1.0.1
lxml==5.3.0
lxml_html_clean==0.4.2
newspaper3k==0.2.8
psycopg2-binary==2.9.10
gnews==0.4.1
Cython==3.0.11
googlenewsdecoder==0.1.7
pysocks==1.7.1
selectolax==0.3.30
absl-py==2.3.0
psutil==6.1.0
